.brazil{width: 500px; height: 263px; background-image: url(sprite//brazil.png); text-align:left; }
.us{width: 500px; height: 263px; background-image: url(sprite//hey/you/us.png); text-align:left; }
.usa{width: 500px; height: 263px; background-image: url(sprite//usa.png); text-align:left; }
